name: WTFuzz push

on:
  push:
    branches: [ develop ]
jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            max-parallel: 4
            matrix:
                python-version: 3.7
        steps:
            - name: Checkout Code
              uses: actions/checkout@v1
                
            - name: Set up Python
              uses: actions/setup-python@v1
              with:
                 python-version: ${{ matrix.python-version }}
              
            - name: Install PIP Dependencies
              run: pip install -r requirements_dev.txt

            - name: Flake8 styles
              run: python -m flake8 ./whatthefuzz

            - name: Bandit security scan
              run: python -m bandit -r ./whatthefuzz

            - name: Safety dependency scan
              run: python -m safety check
